@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: rgb(192, 226, 226);
  width: 100vw;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container{
  min-width: 80vw;
}

.container-progress{
  display: flex;
  justify-content: space-around;
  position: absolute;
}